ctl     type    num     name                                     value
0       INT     2       HP Playback Volume                       0 0
1       INT     2       HPMixer Gain                             0 0
2       INT     2       DAC Playback Volume                      192 192
3       BOOL    1       Enable DAC Soft Ramp                     On
4       INT     1       DAC Soft Ramp Rate                       0
5       ENUM    1       Playback Polarity                        Normal
6       BOOL    1       DAC Notch Filter                         Off
7       BOOL    1       DAC Double Fs Mode                       Off
8       INT     1       DAC Volume Control-LeR                   0
9       INT     1       DAC Stereo Enhancement                   0
10      BOOL    1       MIC Boost                                On
11      INT     1       Input PGA                                6
12      INT     1       ADC Capture Volume                       192
13      BOOL    1       ADC Soft Ramp                            On
14      ENUM    1       Capture Polarity                         Normal
15      BOOL    1       ADC Double FS Mode                       Off
16      INT     1       ALC Capture Target Volume                10
17      INT     1       ALC Capture Max PGA                      13
18      INT     1       ALC Capture Min PGA                      8
19      ENUM    1       ALC Capture Function                     On
20      INT     1       ALC Capture Hold Time                    0
21      INT     1       ALC Capture Decay Time                   0
22      INT     1       ALC Capture Attack Time                  5
23      INT     1       ALC Capture NG Threshold                 1
24      ENUM    1       ALC Capture NG Type                      Mute ADC Output
25      BOOL    1       ALC Capture NG Switch                    On
26      ENUM    1       Differential Mux                         lin1-rin1
27      ENUM    1       Digital Mic Mux                          dmic disable
28      ENUM    1       DAC SRC Mux                              LDATA TO LDAC, RDATA TO RDAC
29      ENUM    1       Left Hp mux                              lin1-rin1
30      ENUM    1       Right Hp mux                             lin1-rin1
31      BOOL    1       LLIN Switch                              Off
32      BOOL    1       Left DAC Switch                          Off
33      BOOL    1       RLIN Switch                              Off
34      BOOL    1       Right DAC Switch                         Off